<div class="row">
	<div class="page-header span14">
		<h1><%=link_to post.title, post %></h1>
	</div>
</div>

<div class="row">
  <div class="span6 columns">
  	<p>
      <strong><%= post.published_at.strftime("%m/%d/%Y") %></strong>:<%= post.body.html_safe %>
    </p>
    <p>
        <% unless post.enclosure.nil? %>
        	<%= audio_tag post.enclosure %>
        	<p class="episode_download_link"><%= link_to("Download now", enclosure.url) %></p>
        <% end %>
    </p>
  </div>
  <div class="span8 columns">
    <table class="zebra-striped">
      <thead>
        <th>Number</th>
        <th>Artist</th>
        <th>Title</th>
      </thead>
      <tbody>
        <% post.playlists.each do |p| %>
          <tr>
            <td>
              <%= p.number %>
            </td>
            <td>
              <%= link_to p.artist, p.url %>
            </td>
            <td>
              <%= p.title %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if admin? %>
	<%= link_to 'Edit', edit_post_path(post) %>
<% end %>
