<div class="row">
	<div class="span10">
		<p>
			Monumental Tracks is about sharing the music that I am passionate about with whoever (whomever?) happens to stumble through here.  I play punk, ska, and rock ‘n’ roll.  I use “rock ‘n’ roll” as my catch all term for anything I don’t consider punk or ska.  I try to bring some interviews and other interesting things through as often as I can.  New episodes come out monthly.  Sometimes later.  Rarely earlier.  That’s the gist of the podcast.  If you want to read more about how I got here – that whole story is below.
		</p>
		<p>
			When I was 4 or 5 years old, my parents gave me an old boombox to put in my room.  I spent the rest of the day listening to the radio and dusting that boombox.  Why it was so dusty?  I don’t know.  This is my first memory of listening to music.
		</p>
			Like any kid, I spent my early years listening to what my parents liked.  This meant a lot of The Beach Boys and The Beatles.  Not a bad start.  At one point in time during elementary school, I was very proud that I owned all 3 MC Hammer albums (on cassette tape, nonetheless.)  I recorded the Top 8 at 8 on B94 onto a tape and listened to that on a Walkman on the bus.  In 5th grade, my teacher told me that I should listen to The Counting Crows.  The next time I had money saved up, I bought August and Everything After.  That was the first CD I ever bought.  (In the same trip, I bought a single of Knockin’ On Heavens Door recorded by Guns ‘n’ Roses and Alapalooza by Weird Al.)  August and Everything After was my first favorite CD and remains one of my favorites to this day.  The rest of elementary school and early middle school, I listened to mostly the modern rock that was played on the radio.  I remember listening to a lot of Collective Soul and Metallica.
		</p>
	</div>
	<div class="span4">
		<div class="boxed">
			<h4>Technology</h4>
			<p>This site is built with <%= link_to 'Ruby on Rails 3.1', 'http://rubyonrails.org/' %> with
				a little help from <%= link_to 'paperclip', 'http://github.com/thoughtbot/paperclip' %> and
				<%= link_to 'will_paginate', 'http://github.com/mislav/will_paginate' %>.  I 
				<%= link_to 'created', 'https://gist.github.com/1248807' %> a custom link renderer to use with will_paginate
				to generate HTML to work with <%= link_to 'Twitter Bootstrap', 'http://twitter.github.com/bootstrap' %>, which
				is used for all styling.  The site is deployed on <%= link_to 'Heroku', 'http://www.heroku.com' %>.  
				Amazon <%= link_to 'CloundFront', 'http://aws.amazon.com/cloudfront' %> and 
				<%= link_to 'S3', 'http://aws.amazon.com/s3' %> is used to distribute content  (css, js, images and music.)
			</p>
			<p>
				The <%= link_to 'source', 'http://github.com/oparrish/monumental-tracks' %> for this site is available on Github.
				Feel free to fork it and use it as a base for your own site.
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span14">
		<p>
			In 6th grade, everything changed for me.  Dookie just came out and everyone was listening to Green Day.  Myself included.  My good friend Nate told me that if I liked Green Day I’d probably like a band called MxPx.  He loaned me a tape of Teenage Politics.  That’s when I got hooked on punk rock and started exploring.  From there on out, I listened to as much of the stuff as I could.
		</p>
		<p>
			At the beginning of high school, the third wave of ska was just starting to break on the US and bands like The Mighty Mighty Bosstones and Reel Big Fish were on MTV and the radio.  They had the fast pace beat and energy of the pop punk that I liked but with a whole new element.  I couldn’t get enough.  I spent a lot of time listening to Reel Big Fish, Less Than Jake, Mustard Plug, etc.  There wasn’t a ska show that came through Pittsburgh that I missed.  Ok, there probably were but, we spent a lot of time at Club Laga.  Like just about every kid that likes ska and punk, I had a band.  Our name was Pope Nannan.  (That’s a whole other website.)  Matt, Kevin, Ryan, Nick, and I played covers of ska/punk songs, some older songs (What I Like About You, Wanted Dead or Alive), and some of our own covers with a revolving door of band friends as a horn section.  Our “hit” if you could call it that was our cover of Take On Me.  Basically, it was exactly like the Reel Big Fish version.  We wrote a few original songs.  They were always kinda punk/ska.  I’d like to think they were OK but, they were probably pretty bad.  My favorite was a hardcore song we played called Sick and Tired.  Teen angst for ya.  We played mostly school talent shows and battles of the bands.  We only made money once.  It was $100.  Split 5 ways.  I think I used my cut to buy Our Own Wars by Small Brown Bike.
		</p>
	</div>
</div>
<div class="row">
	<div class="offset2" />
	<div class="span9">
		<div class="img-caption boxed">
			<%= image_tag "pope_nannan.jpg" %>
			<p class="img-caption-text">That's me in the yellow shirt.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span14">
		<p>
			My senior year of high school found me spending a lot of time with The Juliana Theory, Jimmy Eat World, and The Get Up Kids.  Thus began an emo phase that continued through several years of college.  I even died my hair black.  Very tragic.  My roommate, Bede, and I had a radio show freshman year.  As you can guess, we played a good amount of emo and hardcore (I guess the niche genre term is screamo.)  That was a ton of fun.  Our time slot was Mondays (maybe Tuesdays?) between midnight and 2 AM.  We didn’t have many listeners but on occasion, one would call up and it made us feel really good.
		</p>
		<p>
			Following college, I grew out of the emo thing and returned to where it all began – pop punk and ska music.  That’s where I am today.  There’s a ton of music out there and sometimes you need a little help finding it all.  I aim to be that little help.  At the very least – I can give people something to listen to in the car on the way to work.
		</p>
		<p>
			Anyway, I enjoy doing this and hopefully you’ll enjoy listening.  Please use the links in the contact section on the right and let me know what you think.
		</p>
	</div>
</div>