<!DOCTYPE html>
<html>
<head>
  <title>Monumental Tracks</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row>
		<div id="user_nav" class="offset1">
			<% if admin? %>
				Administrator | 
				<%= link_to "Log out", log_out_path %>
			<% else %>
				<%= link_to "log in", log_in_path %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<% flash.each do |name, msg| %>
  		<div class="alert-message info span3 offset1"><%= msg %></div>
		<% end %>
	</div>
	<div class="row">
			<%= image_tag "logo_header.jpg" %>
	</div>
</div>
<div class="container-fluid">
	<div class="sidebar">
		<%= render "links/links" %>
	</div>
  <div class="content">
   <%= yield %>
  </div>
</div>



</body>
</html>
